.body-nav-col
  %p Development Work
  %p= link_to "Novi", "#novi"
  %p= link_to "Coolhouse Labs", "#coolhouse"
  %p= link_to "Lorious", "#lorious"
  %p= link_to "Every Last Morsel", "#elm"
  %p= link_to "Exactli", "#exactli"
  %p= link_to "TRNK", "#trnk"
  %p= link_to "PartyBlast!", "#partyblast"
  %p= link_to "CareerPivot", "#careerpivot"
  %p= link_to "SignInEasy", "#signineasy"
  %p= link_to "ProperCSS", "#propercss"
  %br
  %p
    %a{:href=>"http://www.github.com/roneesh"}Github
  %p 
    %a{:href=>"http://www.youtube.com/watch?v=6akNT5me-A0"}Git For The Intimidated

.body-content-col

  .work-sample.clear#novi
    %h2 Novi Times
    %h3 HAML/SASS (HTML/CSS), A/B Testing, Javascript
    %p.work-description Novi Times is the news reader that cuts through the clutter. This was a splash page design with A/B testing and social media metrics that I coded for them.
    .work-sample-column.clear
      = image_tag "new_port_images/sized-novi1.png"
      = image_tag "new_port_images/sized-novi2.png"
      = image_tag "new_port_images/sized-novi3.png"
      = image_tag "new_port_images/sized-novi4.png"

  .work-sample.clear
    %h2#coolhouse Coolhouse Labs
    %h3 HAML/SASS (HTML/CSS), Wordpress
    %p.work-description Coolhouse Labs is the startup accelerator for small towns with BIG IDEAS. Formed in 2013 in Harbor Springs, MI, Coolhouse funds startups that solve problems in small towns with novel solutions. I coded up this entire design in Ruby on Rails, and then finally implemented the site in Wordpress to allow dynamic page creation.
    .work-sample-column.clear
      = image_tag "new_port_images/sized-coolhouse1.png"
      = image_tag "new_port_images/sized-coolhouse2.png"
      = image_tag "new_port_images/sized-coolhouse3.png"
      = image_tag "new_port_images/sized-coolhouse4.png"
      = image_tag "new_port_images/sized-coolhouse6.png"
  
  .work-sample.clear
    %h2#lorious Lorious
    %h3 Ruby on Rails, HAML/SASS (HTML/CSS)
    %p.work-description Lorious is a service that seeks to connect learners with experts. On this project I significantly on the back-end implementing core features, and advising on application architecture. On the front-end I implemented numerous designs into the application.
    .work-sample-column.clear
      = image_tag "new_port_images/sized-lorious1.png"
      = image_tag "new_port_images/sized-lorious2.png"
      = image_tag "new_port_images/sized-lorious4.png"
      = image_tag "new_port_images/sized-lorious3.png"

  .work-sample.clear
    %h2#elm Every Last Morsel
    %h3 Ruby on Rails, HAML/SASS (HTML/CSS)
    %p.work-description Every Last Morsel's mission is that no good garden go to waste. Their goal is to put every small gardner on the map so everyone around them can share in the bounty. On this application I coded significantly on the front end implementing numerous existing designs into the application and on helping reslove various back end issues.
    .work-sample-column.clear
      = image_tag "new_port_images/sized-elm2.png"
      = image_tag "new_port_images/sized-elm3.png"

  .work-sample.clear
    %h2#exactli Exactli
    %h3 HAML/SASS (HTML/CSS), A/B Testing, Javascript, jQuery
    %p.work-description Exactli is a service that let's users annotate documents so teams can easily create and document valuable feedback on their work. I coded up the entire MVP of this application, and developed a unique image annotation plugin using Javascript and jQuery.
    .work-sample-column.clear
      = image_tag "new_port_images/sized-exactli1.png"
      = image_tag "new_port_images/sized-exactli2.png"

  .work-sample.clear
    %h2#trnk TRNK New York
    %h3 HTML/CSS, WordPress
    %p.work-description TRNK New York is the internet's premier place for men to furnish their home. I helped TRNK secure their WordPress site and coded a wordpress theme for them to use as part of their re-launch. 
    .work-sample-column.clear
      = image_tag "new_port_images/sized-trnk1.png"
      = image_tag "new_port_images/sized-trnk2.png"
      = image_tag "new_port_images/sized-trnk3.png"
      = image_tag "new_port_images/sized-trnk4.png"

  .work-sample.clear
    %h2#partyblast PartyBlast!
    %h3 Sinatra, HAML/SASS (HTML/CSS), 500px API
    %p.work-description PartyBlast! is a Sinatra application that constantly refreshes with amazing imagery grabbed via the 500px API. It also allows a user to write a custom message that persists even as the images refresh. It's a great way to make sure no screen goes to wasted during a party! I coded the entire application.
    .work-sample-column.clear
      = image_tag "new_port_images/sized-partyblast1.png"
      = image_tag "new_port_images/sized-partyblast2.png"

  .work-sample.clear
    %h2#careerpivot CareerPivot
    %h3 Ruby on Rails, Javascript, jQuery, Twitter Bootstrap
    %p.work-description CareerPivot was the first application I developed. It is a service that allows job applicants to create a "Pitch Page", so they can make the case for why they should be considered for jobs they might not be traditionally qualifed for. Pitch Pages allow users to upload work samples, embed video, and create question/answer prompts that discuss issues relevent to the employer. On this application I coded significantly on the back end implementing the described functionality, and also worked on the front-end design of the Pitch pages themselves.
    .work-sample-column.clear
      = image_tag "new_port_images/sized-careerpivot1.png"
      = image_tag "new_port_images/sized-careerpivot2.png"
      = image_tag "new_port_images/sized-careerpivot3.png"

  .work-sample.clear
    %h2#signineasy SignInEasy
    %h3 Ruby on Rails, Javascript, jQuery, HAML/SASS (HTML/CSS), Mandrill API, AlertCaster API
    %p.work-description SignInEasy is a startup I am currently working with. SignInEasy is a business services platform that let's office spaces manage guest registration, conference room booking and also includes features that let members communicate with the goal of activating their members/employees and forming a community. I architected the application and implemented major portions of it's front and back end functionality. 
    .work-sample-column.clear
      = image_tag "new_port_images/sized-signineasy1.png"
      = image_tag "new_port_images/sized-signineasy2.png"

  .work-sample.clear
    %h2#propercss Proper CSS
    %h3 A Ruby on Rails Generator
    %p.work-description ProperCSS is a Ruby on Rails generator that organizes the CSS in a project. I'm a big fan of clean, semantic CSS (and HTML too!). Proper CSS ensures that each project begins on the right foot. It organizes code into three folders: Base, Components and Modules. In the Base folder, there is a CSS reset file and files to define layout/grid systems, typography and SASS variables, which are used sitewide. Components has files that define the style for items used site-wide such as forms, lists, buttons, tables, etc. Finally, Modules contains files that style large portions of code such as headers, footers and asides. Organizing code this way makes writing and maintaining CSS much easier. 
    %p.work-description
      Please fork the project and use it in your own Rails applications!
    %p.github-link
      = link_to "ProperCSS on Github", "https://github.com/roneesh/propercss"