<h1>Portfolio#architecture</h1>
<p>Architecture Portfolio 2012, created after summer architecture studios at UT and IIT. <br/> <%= link_to "(View on single page)", "AmazonAWS file location" %></p>
 <br/>
<div class="arch_portfolio">
	<div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-pause-on-hover="true" data-cycle-speed="500">
		<%= image_tag "home_pictures.jpg" %>
		<%= image_tag "arch_port2.jpg" %>
		<%= image_tag "arch_port3.jpg" %>
		<%= image_tag "arch_port4.jpg" %>
		<%= image_tag "arch_port5.jpg" %>
		<%= image_tag "arch_port6.jpg" %>
		<%= image_tag "arch_port7.jpg" %>
		<%= image_tag "arch_port8.jpg" %>
		<%= image_tag "arch_port9.jpg" %>
		<%= image_tag "arch_port10.jpg" %>
		<%= image_tag "arch_port11.jpg" %>
		<%= image_tag "arch_port12.jpg" %>
		<%= image_tag "arch_port13.jpg" %>
		<%= image_tag "arch_port14.jpg" %>
		<%= image_tag "arch_port15.jpg" %>
		<%= image_tag "arch_port16.jpg" %>
		<%= image_tag "arch_port17.jpg" %>
		<%= image_tag "arch_port18.jpg" %>
		<%= image_tag "arch_port19.jpg" %>
		<%= image_tag "arch_port20.jpg" %>
		<%= image_tag "arch_port21.jpg" %>
		<%= image_tag "arch_port22.jpg" %>
		<%= image_tag "arch_port23.jpg" %>
		<%= image_tag "arch_port24.jpg" %>
	</span><br/>
</div>