.body-nav-col
  %p Development
  %p
    %a{:href=> "#novi"} Novi
  %p
    %a{:href=> "#coolhouse"} Coolhouse Labs
  %p
    %a{:href=> "#lorious"} Lorious
  %p
    %a{:href=> "#elm"}ELM
  %p
    %a{:href=> "#exactli"} Exactli
  %br
  %p Code Samples
  %p
    %a{:href=>"http://www.github.com/roneesh"}Github
  %br
  %p Erratta
  %p 
    %a{:href=>"http://www.youtube.com/watch?v=6akNT5me-A0"}Git For The Intimidated

.body-content-col

  .work-sample.clear#novi
    %h2 Novi Times
    %h3 Front-end development with A/B testing
    .work-sample-column.clear
      = image_tag "new_port_images/sized-novi1.png"
      = image_tag "new_port_images/sized-novi2.png"
      = image_tag "new_port_images/sized-novi3.png"
      = image_tag "new_port_images/sized-novi4.png"

  .work-sample.clear
    %h2#coolhouse Coolhouse Labs
    %h3 Website redesign and transition to WordPress
    .work-sample-column.clear
      = image_tag "new_port_images/sized-coolhouse1.png"
      = image_tag "new_port_images/sized-coolhouse3.png"
      = image_tag "new_port_images/sized-coolhouse2.png"
      = image_tag "new_port_images/sized-coolhouse4.png"
  
  .work-sample.clear
    %h2#lorious Lorious
    %h3 Fullstack development in Ruby on Rails and HAML/SASS
    .work-sample-column.clear
      = image_tag "new_port_images/sized-lorious1.png"
      = image_tag "new_port_images/sized-lorious2.png"
      = image_tag "new_port_images/sized-lorious4.png"
      = image_tag "new_port_images/sized-lorious3.png"

  .work-sample.clear
    %h2#elm Every Last Morsel
    %h3 Fullstack development in Ruby on Rails and HAML/SASS
    .work-sample-column.clear
      = image_tag "new_port_images/sized-elm2.png"
      = image_tag "new_port_images/sized-elm3.png"

  .work-sample.clear
    %h2#exactli Exactli
    %h3 Fullstack work in Ruby on Rails, Javascript, jQuery and HAML/SASS
    .work-sample-column.clear
      = image_tag "new_port_images/sized-exactli1.png"
      = image_tag "new_port_images/sized-exactli2.png"