<!DOCTYPE html>
<html>
<head>
  <title>Roneeshwebsite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
  <link href='styling.css' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="http://malsup.github.com/jquery.cycle2.js"></script>
</head>

<body>
<nav>
	<a href="/about">About</a> |
	<a href="/contact">Contact</a> |
	<a href="/home">Home</a> |
	<a href="/portfolio">Portfolio</a> |
	<a href="/shop">Shop</a> |
	<a href="https://github.com/roneesh/website">Source</a> |
	<a href="/twitter">Twitter</a> |
	<a href="/writing">Writing</a> 	
</nav>

<p id="flash_message"><%= flash[:message] %></p>

<%= yield %>

</body>
</html>
